<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hey {{ name }}, this is code to active account</p>
    <p>Your active code is {{code}}</p>
    <p>Thank you for using Kitten!!!</p>
</body>
</html>
